<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
	
		<p class="navbar-text pull-left">
            <a href="https://wheretogotonight.herokuapp.com/index.html" target="_blank" >Home</a>
        </p>
		
		<p class="navbar-text pull-left">
            <a href="https://wheretogotonight.herokuapp.com/cookies.html" target="_blank" >Cookies</a>
        </p>
		
		<p class="navbar-text pull-left">
            <a href="https://wheretogotonight.herokuapp.com/privacy.html" target="_blank" >Privacy</a>
        </p>
		
		<p class="navbar-text pull-left">
            <a href="https://wheretogotonight.herokuapp.com/documentation.html" target="_blank" >Documentation</a>
        </p>

    </div>
</div>