<div class="container">
    <h1 class="text-center">{{place.name}}</h1>
    <div ng-hide="{{place.approved}}" class="alert alert-danger">
        <h2>THIS PLACES HAS NOT BEEN APPROVED BY ADMINS. IT WILL NOT APPEAR ON SEARCH AND CAN NOT BE ADDED ON VOTINGS</h2>
    </div>
    <img class="img-rounded img-responsive center-block" ng-src="{{place.image}}" alt="Responsive image">
    <div>
        <h2>place rating: {{rating}}</h2>
        <button ng-click="sendRating(1)" ng-class="getRating(1)" >1</button>
        <button ng-click="sendRating(2)" ng-class="getRating(2)" >2</button>
        <button ng-click="sendRating(3)" ng-class="getRating(3)" >3</button>
        <button ng-click="sendRating(4)" ng-class="getRating(4)" >4</button>
        <button ng-click="sendRating(5)" ng-class="getRating(5)">5</button>
    </div>
    <hr>
    <p>{{place.description}}</p>
    <hr>
    <h2>Comments:</h2>
    <input type='text' ng-model='ct'><button ng-click="addComment(ct)">add comment</button>
    <br>
    <div class="row" ng-repeat="comment in comments">
        <div class="col-md-6">{{comment.text}}</div>
        <div class="col-md-5"><span>user: </span><a ng-href="usersa.html?id={{comment.user.id}}">{{comment.user.username}}</a></div>
        <div class="col-md-1">
            <img class="img-responsive" ng-src="{{comment.user.image}}" alt="{{comment.user.username}}">
        </div>
        <hr>
    </div>
    <p></p>

</div>