<div class="container">
    <div class="col-sm-12">
        <div class="bs-calltoaction bs-calltoaction-default" ng-repeat="place in places">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">{{place.name}}</h1>
                    <div class="cta-desc">
                        <p>{{place.description}}</p>
                        <p>createdBy: {{place.userCreated}}</p>
                        <p>This is a {{place.type}}</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-default">Go for It!</a>
                </div>
            </div>
        </div>


    </div>
</div>